.center_section{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 4rem ;
    height: 100%;
overflow: auto;


    &--background{
        background: #9ac3f1 url(https://www.prepladder.com/_next/static/media/main-bg.0daec451.svg) no-repeat;
        padding: 1.8rem 3.2rem;
        box-shadow: 0 16px 32px rgb(233 238 242 / 40%);
        border-radius: .8rem;
        background-position: 100% 100%;
        margin-bottom: 2.4rem;
        display: inline-block;
        width: 100%;


        & h2{
            font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #3c4852;
        }
        & h3{
            font-size: 1.2rem;
            line-height: 1.6rem;
            font-weight: 400;
            color: #3c4852;
        }
    }


    &--premium{
        background: linear-gradient(
            0deg
            ,#ffedd3,#ffedd3),#fff;
                box-shadow: 0 16px 32px rgb(221 230 237 / 40%);
                border-radius: 8px;
                padding: 0 3.2rem;
                margin-bottom: 2.4rem;
                display: flex;
                align-items: center;

                &-inner{
                    padding: 2.4rem 0;

                    & h2{
                        font-weight: 600;
                        font-size: 1.4rem;
                        line-height: 18px;
                        color: #6c2a18;
                        margin-bottom: .4rem;
                    }
                    & p{
                        font-weight: 400;
                        font-size: 1.2rem;
                        line-height: 16px;
                        color: #6c2a18;
                        margin-bottom: 1.6rem;
                    }
                
                }
    }
}

.premium_button{
    background: #fff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding: 1rem 3rem;
    color: #3c4852;
    cursor: pointer;
    border: none;
}

.feature_img{
    display: block;
    width: 100%;
    border-radius: 1.2rem;
}

.feature--heading{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3c4852;
    padding: 1.6rem 0;
}
.sugessted_question{
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;

    &--heading{
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #3c4852;
    }
}


.dashboard_card{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #3c4852;

    &--subheading{
        margin-top: .8rem;
        letter-spacing: .5px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--dash-font-color1);
    max-height: 4.5rem;
    min-height: 3.5rem;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: "2.8242em";
    }

    &--ques{
        width: auto;
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: var(--dash-font-color2);
        margin-top: .4rem;
    }
}
.width-40{
    min-width: 4rem;
    max-width: 4rem;
}

.plain_card{
    width: 176px;
    padding: 0 .8rem 1.5rem;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 4px 15px rgb(0 0 0 / 5%);
    border-radius: .8rem;
    padding: 1.6rem;
    display: flex;
    margin-right: 4rem;
  
}
.card{
    display: flex;

}
.center_section--width{
display: flex;

}