.container{
padding: 1.6rem 0;
    background: url(https://image.prepladder.com/content/lMp0BYyarKZPLM41j71n1640153702.svg) no-repeat;
    width: 100%;
    background-position: 100%;
    background-size: cover;
    min-height: 100vh;
 
    flex-flow: column;
}