.common_page_layout{
    width: 100%;
border: 2px solid red;
padding: 2.4rem;
margin: 2rem;
display: flex;
justify-content: space-between;
height: 12rem;
align-items: center;

&--align{
    display: flex;
    //align-items: center;
  
}

}

.profile--align{
 display: flex;
   
}

.profile--img{
    min-width: 7.6rem;
    width: 7.6rem;
}
.align_item{
  margin-top: 2rem;
}

.profile_userName{
    
    
    font-size: 2rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15ch;
    margin: 0 1rem .6rem 0;
}
.profile_userPhn{
    color:#7a8b94;
    font-size: 1.4rem;
}
.btn{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}
.btn-border{


    border: 1px solid #e9eef2;
    border-radius: 4px;
    padding: 1.1rem 2.8rem;
    font-size: 1.4rem;
}

.dash_white-box{
    background: #fff;
    box-shadow: 0 16px 32px rgb(233 238 242 / 40%);
    border-radius: .8rem;
   
}